body {
  height: 100%;
  font-family: 'JetBrainsMono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.form-signin .form-control:focus {
  z-index: 2;
  border-color: #6e68eb;
  box-shadow: none;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-color: #ddd;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-color: #ddd;
}

.form-signin input[type="submit"] {
  background-color: #6e68eb;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.form-signin input[type="submit"]:hover {
  background-color: #6c63ff;
}

